.camera-canvas {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;

	--lens-width: 70vw;
	--lens-height: 30vw;
}

.camera-canvas video {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
	z-index: 1;
}
.camera-canvas .video-overlay {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
	z-index: 1;
	background-color: rgb(255 255 255 / 20%);
	backdrop-filter: blur(10px);

	/* https://bennettfeely.com/clippy/ */
	--lens-offset-width: calc(var(--lens-width) / 2);
	--lens-offset-height: calc(var(--lens-height) / 2);
	--left-pos: calc(50% - var(--lens-offset-width));
	--right-pos: calc(50% + var(--lens-offset-width));
	--top-pos: calc(50% - var(--lens-offset-height));
	--bottom-pos: calc(50% + var(--lens-offset-height));
	clip-path: polygon(
		/* canvas left-top */
		-1px -1px,
		/* canvas left-bottom */
		-1px calc(100% + 1px),

		/* lens left-bottom */
		var(--left-pos) var(--bottom-pos),
		/* lens left-top */
		var(--left-pos) var(--top-pos),
		/* lens right-top */
		var(--right-pos) var(--top-pos),
		/* lens right-bottom */
		var(--right-pos) var(--bottom-pos),
		/* lens left-bottom 2 */
		var(--left-pos) var(--bottom-pos),

		/* canvas left-bottom 2 */
		-1px calc(100% + 1px),
		/* canvas right-bottom */
		calc(100% + 1px) calc(100% + 1px),
		/* canvas right-top */
		calc(100% + 1px) -1px
	);
}

.camera-canvas .video-lens {
	z-index: 5;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
	display: grid;
	grid-auto-flow: column;
	grid-template-columns: 1fr var(--lens-width) 1fr;
	grid-template-rows: 1fr var(--lens-height) 1fr;
	gap: 0;
	grid-template-areas:
	  ". . ."
	  ". lens ."
	  ". . .";
  }

/* TODO convert to svg */
.camera-canvas .video-overlay .fade {
	background-color: rgb(255 255 255 / 20%);
	backdrop-filter: blur(10px);
	display: flex;
	width: 100%;
	height: 100%;
}

.camera-canvas  .video-lens .lens {
	grid-area: lens;
	border: 4px solid rgb(255 255 255 / 70%);
	margin: -2px;
}