.camera-card {
  width: 100%;
  min-height: 20ex;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
}

.camera-request-card {
  width: 100%;
  min-height: 10ex;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
  padding: 4ex 4ex 0 4ex;
  position: relative;
  overflow: hidden;
}

.camera-request-card.no-controls {

	padding: 4ex 4ex 4ex 4ex;
}

.camera-request-card .details {
  grid-area: details;
  margin-top:1ex;
  padding-top: 0ex;
  width: 100%;
}
.camera-card .no-premium, .error {
  font-weight: bold;
  color: #d71e1e;
  font-style: italic;
}

.camera-card .controls {
	grid-area: controls;
	margin: 0 -4ex 0 -4ex;
	height: 8ex;
	width: calc(100% + 8ex);
  }
  .camera-request-card .controls {
	margin: 0 -4ex 0 -4ex;
	position: relative;
  }

  .camera-card .controls button[disabled] img ,
	.camera-card .controls .fake-button.disabled img {
	opacity: .4;
  }
  .camera-card .controls button ,
  .camera-card .controls select,
  .camera-card .controls .fake-button {
  width: 100%;
  height: 8ex;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 8ex 1fr 8ex;
  grid-template-rows: 1fr;
  gap: 0em 0em;
  grid-template-areas: ". text icon";
  align-content: center;
  justify-content: center;
  align-items: center;
}

.camera-card .controls select {
	text-align:center;
	padding-left: 8ex;
	padding-right: 8ex;
	padding-top: 2ex;
	padding-bottom: 2ex;
}
.camera-card .controls option {
	text-align:left;
	padding-left: 8ex;
	padding-right: 8ex;
	padding-top: 2ex;
	padding-bottom: 2ex;
}

.camera-card .controls .fake-button {
	position: absolute;
	bottom:0;
	pointer-events: none;
}
.camera-card .controls button span ,
.camera-card .controls .fake-button span {
  grid-area: text;
}
.camera-card .controls .fake-button span {
	background-color: #1a1a1a;
	text-align: center;
}
.camera-card .controls .fake-button.disabled span {
	color: gray;
}
.camera-card .controls button img ,
	.camera-card .controls .fake-button img {
  grid-area: icon;
}
.camera-request-card video,
.camera-request-card .video-blur {
    display: block;
    width: calc(100% + 8ex);
    height: 15ex;
	display: block;
    pointer-events: none;
	object-fit: none;
	object-align: center center; /* default, anchor to center of video */
	margin: -4ex -4ex 0 -4ex;
}
.camera-request-card .video-blur {
	background-color: rgb(255 255 255 / 20%);
	backdrop-filter: blur(8px);
	display: block;
	position:absolute;
	margin: -4ex 0 0 0;
	width: 100%;
    height: calc(15ex + 1px);
}
.camera-card .controls select {
	-webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}