.auth {
  .details {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    p {
      font-size: 3ex;
    }
    img {
      height: 2.5ex;
      margin-right: 1ex;
      margin-bottom: -0.5ex;
    }
  }
}
