.auth .details {
	display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.auth .details p {
	font-size: 3ex;
}
.auth .details img {
	height: 2.5ex;
	margin-right: 1ex;
	margin-bottom: -.5ex;
}