#root {
  max-width: 60ex;
  width: 100%;
  margin: 0 auto;
  padding: 2ex 6ex;
}

.logo {
  padding-right: 0.5em;
  margin-bottom: 2.5ex;
  width: 100%;
}
.logo img {
  display: inline-block;
  height: 1.5em;
  margin-bottom: -0.3em;
}
video {
  object-fit: cover;
  object-position: center;
}
